<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 mx-auto">

          <h1 class="h3 mb-3 font-weight-normal text-center">Your Wishlist</h1>
          <!-- form card login -->
          <div class="card rounded-2">
            <div class="card-header">
              <h3 class="mb-0 float-left">Login</h3>
              <button type="button" class="close float-right text-black-50 mt-2" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="card-body">
              <form class="form-signin" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  <input
                    type="text" id="email" name="email" class="form-control rounded-2" autofocus="autofocus" placeholder="email" required
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': (f.email.invalid && (f.email.dirty || f.email.touched)) || this.authError }"
                  >
                </div>
                <div class="form-group">
                  <input
                    type="password" id="password" name="password" class="form-control rounded-2" placeholder="password" required
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': (f.password.invalid && (f.password.dirty || f.password.touched)) || this.authError }"
                  >
                </div>
                <div class="text-danger"
                  *ngIf="this.authError"
                >
                  <p>Invalid email or password.</p>
                </div>
                <div class="form-group">
                  <input class="custom-checkbox" type="checkbox">
                  <span class="custom-control-description small text-dark"> Remember me</span>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-outline-info btn-sm btn-block" id="btnFb" (click)="signInWithFB()">Sign up with Facebook</button>
                  <button type="submit" class="btn btn-outline-primary btn-sm btn-block" id="btnLogin">Login</button>
                </div>
                <a href="#" class="login-action" title="Forgot password">
                  <p>Forgot your password?</p>
                </a>
                <a href="#" class="login-action" title="Register" routerLink="/register">
                  <p>New User?</p>
                </a>
                <p class="mb-2 text-muted text-center">&copy; 2019</p>
              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->

        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
